body {
    background: url("http://cdn.wallpapersafari.com/12/70/rmcq0h.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    border-radius: 25px;
    text-align: center;
    border-style: solid;
    border-color: rgb(0,50,0);
    background: rgb(180,227,145); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    margin: 20px 0px 40px 0px;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}

.codebox, .codeSnippetStart, .codeSnippetEnd {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .75em;
    line-height: 150%;
}

.codeSnippetStart, .codeSnippetEnd {
    text-align: left;
}

.codeSnippetStart {
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

.codebox {
    border-style: solid;
    margin: 0px;
    height: 200px;
    width: 100%;
    max-width: 100%;
}

#codeEditor {
    height: 400px;
}

.codeSnippetEnd {
    margin: 2px 0px 0px 0px;
    padding: 0px;
}

#responseDisplay {
    background-color: whitesmoke;
    height: 200px;
}

#action {
    border-style: solid;
    border-color: rgb(0,50,0);
    border-radius: 25px;
    height: 50px;
    background: rgb(180,227,145); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
    width: 200px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

