body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.codebox-container {
    margin: 20px 0px;
}

.codebox, .codeSnippetStart, .codeSnippetEnd {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .75em;
    line-height: 150%;
}

.codeSnippetStart {
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

.codebox {
    border-style: solid;
    margin: 0px;
    height: 200px;
    width: 100%;
    max-width: 100%;
}

#codeEditor {
    height: 400px;
}

.codeSnippetEnd {
    margin: 2px 0px 0px 0px;
    padding: 0px;
}

#responseDisplay {
    background-color: #e0e0e0;
    height: 200px;
}

#action {
    width: 200px;
}

